$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "vars";

body {
  padding-top: 80px;
}

[role="navigation"] {
  padding-top: 10px;
}

.user-panel {
  float: left;
  font-weight: bold;
  > span {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    padding: 4px 6px;
    background: white;
    border-radius: 50%;
    border: $border;
    span {
      color: #999;
    }
  }
}

.user-actions {
  float: right;
}

.form-group {
  .checkbox {
    margin: 0;
    height: 25px;
    min-height: 0;
  }
}

.talks-feed {
  list-style-type: none;
  margin-top: 15px;
  li {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

.talk-time {
  // border-left: $border;
  h5 {
    margin-bottom: 0;
    font-weight: bold;
    + h5 {
      margin-top: .25em;
    }
  }
  .talk-location {
    h5 {
      font-weight: normal;
    }
  }
  h6 {
    text-transform: uppercase;
    color: #999;
  }
}